/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #181818; /*#eee*/
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    line-height: 25px;
    color: white;
    border-radius: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #080808; /*#ccc*/
}
.active {
    border-radius: 5px 5px 0px 0px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #222222; /*#f1f1f1*/
    border-radius: 0px 0px 5px 5px
}
.player_data_search {
    margin: auto;
    text-align: center;
}

.player_data_search form input {
    text-align: center;
}

.content button:first-child {
    margin-left: 1px;
}

.content button:not(:first-child) {
    margin-left: 5px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    line-height: 25px;
    font-size: 25px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}





body {
    background-color: #202020;
    height: 100%;
}

#player_total_level:before {
    content: url('./assets/stats/Overall-icon.png');
    padding: 5px;
}

.player_skill_container {
    display: block;
    height: 22px;
    padding: 2px;
    /*width: 100%;*/
}

.player_skill, .player_xp {
    width: 300px;
    text-align: center;
    font-size: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
}

.player_skill_icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content {
    padding: 5px;
}

.data_container {
    margin-top: 5px;
    max-width: 800px;
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    border-radius: 0px 0px 5px 5px;
}

.player_data_cont {
    padding: 5px;
}

.player_skill_container:nth-child(even), .player_data_cont:nth-child(even) {
    /*background-color: rgb(225, 225, 225);*/
    background-color: #080808;
    color: #888;
}

.player_skill_container:nth-child(odd), .player_data_cont:nth-child(odd) {
    background-color: #181818;
    color: #888;
}

.player_skill_container, .player_data_cont {
    margin-top: 1px;
    border: 1px solid #282828;
}

.player_data_key:after {
    content: ': ';
}

#error_message {
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 5px;
}

#refresh_button {
    margin-top: 5px;
    padding: 0px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
}

.button {
    background-color: #181818;
    color: white;
    border: none;
    text-align: center;
    border-radius: 2px;
}

.button:hover {
    cursor: pointer;
    background-color: #080808;
}

.button:active {
    outline: black;
    background-color: #181818;
}

.player_data_search {
    margin-bottom: 5px;
}

.player_data_sort {
    width: 140px;
    margin: auto;
}

#loading_screen {
    position: relative;
    color: #888;
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.main_body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    width: 800px;
    height: 100%;
    box-shadow: 0 0px 5px rgba(0,0,0,.9);
    border-radius: 2px;
}

#user_input {
    margin: auto;
    width: 200px;
}

#username {
    width: 196px;
    text-align: center;
}

#submit_user {
    width: 100px;
    margin-top: 5px;
    margin-left: 50px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

#submit_user:disabled {
    background-color: grey;
    cursor: default;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

#player_data {
    width: 800px;
    margin: auto;
}

.sort_button {
    padding: 5px;
    width: 30px;
    height: 25px;
    text-align: center;
}