/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    line-height: 25px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 25px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}





#player_total_level:before {
    content: url('./assets/stats/Overall-icon.png');
    padding: 5px;
}

.player_skill_container {
    display: block;
    height: 22px;
    padding: 2px;
    width: 100%;
}

.player_skill, .player_xp {
    width: 300px;
    text-align: center;
    font-size: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
}

.player_skill_icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content {
    padding: 5px;
}

.data_container {
    margin-top: 5px;
    max-width: 800px;
}

.player_data_cont {
    padding: 5px;
}

.player_skill_container:nth-child(even), .player_data_cont:nth-child(even) {
    background-color: rgb(225, 225, 225);
}

.player_data_key:after {
    content: ': ';
}

#error_message {
    font-color: red;
    background-color: rgba(255, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 5px;
}

#refresh_button {
    margin-top: 5px;
}
